<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Deodorant's Petition</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <img url="public/bvg.png">

        {{{ body }}}
    </body>
</html>
