<div class="content">
    <div class="wrapper-top">
        <img class="bvg" id="bvg-heart" src="/bvg.png">
        <div class="names-top-page">
            <div><a class="name-top-first" href="/">Home</a></div>
            <div><a class="name-top-first" href="/profile/edit">Edit Profile</a></div>
            <div><a class="name-top-first" href="/logout">Logout</a></div>
        </div>
    </div>

    <div class="container">
        <div class="wrapper-bottom">
            <div class="white-background"></div>
            <p class="text-aboutus">Everybody has already felt that unpleasant body odor. If you haven’t, you will at some point, most likely at the time of the year in which the temperature rises. This may lead to embarassing situations.</p>
            <p class="main-text-aboutus">In Berlin it is not different. Sign our petition to make wearing deodorant mandatory during the summer months before using public transportation.</p>
            <input class="button-bottom-aboutus" id="signup-button-bottom" type="button" name="button" value="JOIN NOW"></input>
        </div>
    </div>
</div>


<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
