<div class="content">
    <div class="wrapper-top">
        <img class="bvg" id="bvg-heart" src="bvg.png">
        <div class="inputs-first">
            <input class="button-top-first" id="home-button" type="button" name="button" value="Home"></input>
            <input class="button-top-first" id="signup-button" type="button" name="button" value="Sign Up"></input>
            <input class="button-top-first" id="login-button" type="button" name="button" value="Login"></input>
        </div>
    </div>

    <div class="container">
        <div class="wrapper-bottom">
            <div class="white-background"></div>
            <p class="text-aboutus">Everybody has already felt that unpleasant body odor. If you haven’t, you will at some point, most likely at the time of the year in which the temparature rises. This may lead to embarassing situations.</p>
            <p class="main-text-aboutus">In Berlin it is not different. Sign our petition to make wearing deodorant mandatory during the summer months before using public transportation.</p>
            <input class="button-bottom-aboutus" id="signup-button-bottom" type="button" name="button" value="JOIN US NOW"></input>
        </div>
    </div>
</div>

<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
