<div class="content">
    <div class="wrapper-top">
        <img class="bvg" id="bvg-heart" src="bvg.png">
    <div class="names-top-page">
            <div><a class="name-top-first" href="/">Home</a></div>
            <div><a class="name-top-first" href="/about/">About</a></div>
            <div><a class="name-top-first" href="/liveinberlin">Sign Up</a></div>
            <div><a class="name-top-first" href="/login">Login</a></div>
    </div>

    </div>

    <div class="container">
        <div class="wrapper-bottom">
            <div class="white-background-test"></div>
            <p class="main-text-test">Imagine a world with no unpleseant body odor</p>
            <p class="text-first-test">Help us creating a better smelling Berlin's public transportation.</p>
            <input class="button-bottom-first" id="signup-button-bottom" type="button" name="button" value="JOIN THE PETITION NOW"></input>
        </div>
    </div>
</div>


<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
