<div class="content">
    <div class="wrapper-top">
        <img class="bvg" id="bvg-heart" src="bvg.png">
        <div class="inputs-first">
            <input class="button-top-first" id="home-button" type="button" name="button" value="Home"></input>
            <input class="button-top-first" id="aboutus-button" type="button" name="button" value="About Us"></input>
            <input class="button-top-first" id="signup-button" type="button" name="button" value="Sign Up"></input>
            <input class="button-top-first" id="login-button" type="button" name="button" value="Login"></input>
        </div>
    </div>

    <div class="container">
        <div class="wrapper-bottom">
            <div class="white-background-test"></div>
            <p class="main-text-test">Imagine a world with no unpleseant body odor</p>
            <p class="text-first-test">Help us creating a better smelling Berlin's public transportation.</p>
            <input class="button-bottom-first" id="signup-button-bottom" type="button" name="button" value="JOIN US NOW"></input>
        </div>
    </div>
</div>

<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
