<div class="content">
    <div class="wrapper-top">
        <img class="bvg" id="bvg-heart" src="bvg.png">
        <div class="names-top-page">
                <div><a class="name-top-first" href="/">Home</a></div>
                <div><a class="name-top-first" href="/about/loggedin">About</a></div>
                <div><a class="name-top-first" href="/profile/edit">Edit Profile</a></div>
                <div><a class="name-top-first" href="/logout">Logout</a></div>
        </div>
    </div>

    <div class="container">
        <div class="wrapper-bottom">
            <div class="white-background"></div>
            <p class="main-text">A better smelling Berlin is possible</p>
            <p class="text-home">Sign our petition now and help us to make wearing deodorant mandatory during the summer months before using public transportation.</p>
            <input class="button-bottom-first" id="button-sign-petition" type="button" name="button" value="SIGN THE PETITION"></input>
        </div>
    </div>
</div>


<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
