<div class="content">
    <div class="wrapper-top">
        <img class="bvg" id="bvg-heart" src="bvg.png">
        <div class="inputs-first">
            <input class="button-top-first" id="home-button" type="button" name="button" value="Home"></input>
            <input class="button-top-first" id="aboutus-button" type="button" name="button" value="About Us"></input>
            <input class="button-top-first" id="signup-button" type="button" name="button" value="Sign Up"></input>
        </div>
    </div>

    <div class="container">
        <div class="wrapper-bottom">
            <div class="white-background"></div>
            <p class="main-text-login">Login</p>
            <form id="form-register" method="post">
                <div class="error-message-profile">{{error}}</div>
                <input class="fill" type="text" name="email" placeholder="Email Address" />
                <input class="fill" type="password" name="password" placeholder="Password" />
                <input class="button-submit-login" type="submit" name="button" value="SUBMIT"></input>
            </form>
        </div>
    </div>
</div>

    <script src="/script2.js" type="text/javascript" charset="utf-8"></script>
