<div class="content">
    <div class="wrapper-top">
        <img class="bvg" id="bvg-heart" src="bvg.png">
        <div class="names-top-page">
                <div><a class="name-top-first" href="/">Home</a></div>
                <div><a class="name-top-first" href="/about">About</a></div>
                <div><a class="name-top-first" href="/liveinberlin">Sign Up</a></div>
        </div>


    </div>

    <div class="container">
        <div class="wrapper-bottom">
            <div class="white-background-login"></div>
            <p class="main-text-login">Login</p>
            <form id="form-register" method="post">
                <div class="error-message-profile">{{error}}</div>
                <input class="fill" type="text" name="email" placeholder="Email Address" />
                <input class="fill" type="password" name="password" placeholder="Password" />
                <input class="button-submit-login" type="submit" name="button" value="SUBMIT"></input>
            </form>
        </div>
    </div>
</div>


<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
