<div class="container">
    <div class="wrapper">
        <p>Everybody has already felt that unpleasant body odor. If you haven’t, you will at some point, most likely at the time of the year in which the temparature rises. This may lead to embarassing situations.</p>
        <h2>In Berlin it is not different. Sign our petition to make wearing deodorant mandatory during the summer months before using public transportation.</h2>
    </div>
    <form id="form2" method="post">
        <div class="error-message">{{error}}</div>
        <input class="email fill" type="text" name="email" placeholder="Email Address" />
        <input class="password fill" type="password" name="password" placeholder="Password" />
        <input class="button" type="submit" name="button" value="LOGIN"></input>
        <div class="messageLogin">
          <a href="/">Click here</a> to return to the register page.
        </div>
    </form>
</div>

<img class="logo" src="/bvg.png">
