<div class="container">
    <div class="wrapper">
        <p class="profile">Before signing the petition, would you like to share* a little bit more about yourself with us? </p>
        <p class="answers">*The answers are optionals.</p>
    </div>

    <form id="form" method="post">
        <div class="error-message-profile">{{error}}</div>>
        <input class="fill" type="text" name="age" placeholder="Age" />
        <input class="fill" type="text" name="areaOfBerlin" placeholder="Area of Berlin where you live" />
        <input class="fill" type="text" name="homepage" placeholder="Homepage" />
        <input class="button" type="submit" name="button" value="CONTINUE"></input>
    </form>
</div>

<img class="logo" src="/bvg.png">
