<div class="container2">
    <h1>They also signed our petition:</h1>
    {{#content}}
        <li>{{first_name}} {{last_name}}</li>
    {{/content}}
    <div>
      <a href="/logout">Logout</a>
    </div>
</div>
