<div class="content">
    <div class="wrapper-top">
        <img class="bvg" id="bvg-heart" src="bvg.png">
        <div class="names-top-page">
                <div><a class="name-top-first" href="/">Home</a></div>
                <div><a class="name-top-first" href="/about/loggedin">About</a></div>
                <div><a class="name-top-first" href="/profile/edit">Edit Profile</a></div>
                <div><a class="name-top-first" href="/logout">Logout</a></div>
        </div>
    </div>

    <div class="container">
        <div class="wrapper-bottom">
            <div class="white-background"></div>
            <form id="form-sign" method="post">
                <div class="error-message-profile">{{error}}</div>
                <canvas id="signature-canvas-new" class="sign" width="500" height="100"></canvas>
                <input id="signature-input-new" type="hidden" name="signatureName" value="">
                <input class="button-submit-signpetition" type="submit" name="button" value="SIGN THE PETITION"></input>
            </form>
        </div>
    </div>
    </div>


<script src="/script.js" type="text/javascript" charset="utf-8"></script>
<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
