<div class="content">
    <div class="wrapper-top">
        <img class="bvg" id="bvg-heart" src="bvg.png">
        <div class="inputs-first">
            <input class="button-top-first" id="home-button" type="button" name="button" value="Home"></input>
            <input class="button-top-first" id="aboutus-button-logged" type="button" name="button" value="About Us"></input>
            <input class="button-top-first" id="button-redirect-profile" type="button" name="button" value="Edit Profile"></input>
            <input class="button-top-first" id="logout-button" type="button" name="button" value="Logout"></input>
        </div>
    </div>

    <div class="container">
        <div class="wrapper-bottom">
            <div class="white-background"></div>
            <form id="form-sign" method="post">
                <div class="error-message-profile">{{error}}</div>
                <canvas id="signature-canvas-new" class="sign" width="500" height="100"></canvas>
                <input id="signature-input-new" type="hidden" name="signatureName" value="">
                <input class="button-submit-signpetition" type="submit" name="button" value="SIGN THE PETITION"></input>
            </form>
        </div>
    </div>
    </div>


<script src="/script.js" type="text/javascript" charset="utf-8"></script>
<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
