<div class="content">
    <div class="wrapper-top">
        <img class="bvg" id="bvg-heart" src="bvg.png">
        <div class="inputs-first">
            <input class="button-top-first" id="home-button" type="button" name="button" value="Home"></input>
            <input class="button-top-first" id="aboutus-button" type="button" name="button" value="About Us"></input>
            <input class="button-top-first" id="login-button" type="button" name="button" value="Login"></input>
        </div>
    </div>

    <div class="container">
        <div class="wrapper-bottom">
            <div class="white-background"></div>
            <p class="main-text">Sign Up for participating in our petition</p>
            <form id="form-register" method="post">
                <input class="fill" type="text" name="firstname" placeholder="First Name" />
                <input class="fill" type="text" name="lastname" placeholder="Last Name" />
                <input class="fill" type="text" name="email" placeholder="Email Address" />
                <input class="fill" type="password" name="password" placeholder="Password" />
                <input class="button-submit-signup" type="submit" name="button" value="SIGN UP"></input>
            </form>
            <p class="bottom-text-register">If you're already registered, <a class="click-here" href="/login">click here</a> to login.</p>

        </div>
    </div>
</div>

<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
