<div class="container">
        <p class="thanks-message">Thank you for signing our petition and help us creating a better smelling world.</p>
        <img class="thanks-signature" src="{{signature}}">
        <a class="signers" href="/signers">Click here to see all {{nOfSigners}} signers.</a>
        <input class="button-new" id="button-redirect-profile" type="button" name="button" value="EDIT YOUR PROFILE"></input>
        <input class="button-new" id="button-delete-signature" type="button" name="button" value="DELETE YOUR SIGNATURE"></input>
        <a class="message-logout2" href="/logout">Logout</a>
</div>

<img class="logo" src="/bvg.png">
<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
