<div class="container">
        <p class="thanks-message">Thank you for signing our petition and help us creating a better smelling world.</p>

        <a class="signers" href="/signers">Click here to see all {{nOfSigners}} signers.</a>
        <a class="message-logout" href="/logout">Logout</a>
</div>

<img class="logo" src="/bvg.png">
