<div class="container">
        <p>Thank you for signing our petition to make wearing deodorant mandatory during the summer months before using Berlin's public transportation.</p>
        <a class="signers" href="/signers"><h2>See all {{nOfSigners}} signers.</h2></a>
        <img class="bvg" src="bvg.png">
        <a class="message-logout" href="/logout">Logout</a>
</div>
