<div class="container">
        <p>Thank you for signing our petition to make wearing deodorant mandatory during the summer months before using Berlin's public transportation.</p>

        <a class="signers" href="/signers">Click here to see all {{nOfSigners}} signers.</a>
        <a class="message-logout" href="/logout">Logout</a>
</div>

<img class="logo" src="bvg.png">
