<div class="bigcontainer">
    <div class="container">
            <p class="thanks-message">Thank you for signing our petition and help us creating a better smelling world.</p>
            <img class="thanks-signature" src="{{signature}}">
            <a class="signers" href="/signers">Click here to see all {{nOfSigners}} signers.</a>
            <input class="button-new" id="button-delete-signature" type="button" name="button" value="DELETE YOUR SIGNATURE"></input>
            <input class="button-new2" id="gobackHome" type="button" name="button" value="GO BACK"></input>
    </div>
</div>

<input class="button-logout" id="button-logout" type="button" name="button" value="LOGOUT"></input>

<img class="logo" src="/bvg.png">
<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
