<div class="content">
    <div class="wrapper-top">
        <img class="bvg" id="bvg-heart" src="bvg.png">
        <div class="names-top-page">
                <div><a class="name-top-first" href="/">Home</a></div>
                <div><a class="name-top-first" href="/about/loggedin">About</a></div>
                <div><a class="name-top-first" href="/profile/edit">Edit Profile</a></div>
                <div><a class="name-top-first" href="/logout">Logout</a></div>
        </div>
    </div>

    <div class="container">
        <div class="wrapper-bottom">
            <div class="white-background"></div>
            <p class="main-text">Thank you for signing our petition and help us creating a better smelling Berlin.</p>
            <img class="thanks-signature" src="{{signature}}">
            <p class="text-thanks"><a class="link-thanks" href="/signers">Click here</a> to see all {{nOfSigners}} signers.</p>
            <input class="button-bottom-first" id="button-delete-signature" type="button" name="button" value="DELETE YOUR SIGNATURE"></input>
        </div>
    </div>
</div>


<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
